# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
env/
ENV/

# ----------------------------
# Django
# ----------------------------
db.sqlite3
media/
staticfiles/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# IDEs
# ----------------------------
.idea/
.vscode/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Testing
# ----------------------------
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/